
  
  .images {
    position: relative;
    height: 400px; /* Set container height */
    overflow: hidden;
  }
  
  .image-container {
    width: 90%; 
    height: 100%;
  }
  
  .image-view {
    position: absolute;
    width: 90%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .image-view.img-0 {
    opacity: 1;
  }
  
  .image-container:hover .img-0 {
    opacity: 0;
  }
  
  .image-container:hover .img-1 {
    opacity: 1;
  }

